/*=============================================
=            Navbar Styles            =
=============================================*/
.navbar-top {
    background: $topbg;
    color: $topcolor;
    padding: 0.8rem 0;
    font-size: 0.875rem;
}

.navbar-custom {
    font-size: 1rem;
    font-family: $font2;
    background: var(--theme-color);
    @include easeIn(0.2s);

    a.navbar-brand {
        letter-spacing: 0.01rem;
        color: var(--text);
        font-weight: 500;
        font-size: 1rem;
    }

    a.nav-link {
        color: var(--text);
        @include easeIn(0.2s);
        border-bottom: 2px solid transparent;

        &:hover,
        &:focus {
            color: $success;
        }
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $success;
        border-radius: 50px;

        a {
            align-items: center;
        }
    }
}

/*=============================================
=           Hero Sections            =
=============================================*/
.hero-section {
    width: 100%;
    height: 87vh;
    // background: $grad1;
    background-color: var(--theme-color);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    img.hero-bg {
        position: absolute;
        left: 0;
        width: 500px;
        height: 500px;
        object-fit: contain;
    }

    .hero-slider-item {
        h1 {
            font-size: 3rem;
            font-weight: 600;
            text-transform: capitalize;
            color: var(--text);
            margin-bottom: 1.5rem;
        }

        p {
            color: var(--text);
            margin: 0;
            padding: 0;
        }

        img {
            width: 400px;
            height: 400px;
        }
    }

    .hero-btns {
        margin-top: 1.2rem;
        font-family: $font2;
    }
}

/*=============================================
=            served-section            =
=============================================*/
.served-section {
    h3 {
        font-size: 1.5rem;
        color: var(--text);
        opacity: 0.8;
    }

    .served-section-wrapp {
        @include shadow;
        padding: 3.5rem 0;
        border-radius: 8px;

    }

    .served-item {

        img {
            width: 120px;
            height: 40px;
            object-fit: contain;
            filter: grayscale(1.5);
        }
    }
}

/*=============================================
=            why-sections            =
=============================================*/
.why-section {
    .why-section-title {
        text-align: center;
        margin-bottom: 5rem;
    }

    .why-section-item {
        text-align: center;
        align-items: center;
        @include easeIn(0.5s);

        h4 {
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 1.2rem;
        }

        p {
            font-size: 1rem;
            padding: 0 1rem;
        }

        img {
            margin: 2rem auto;
            width: 120px;
            height: 100px;
        }

        &:hover {
            @include shadow;
        }
    }
}

/* =============================================
=            service-section            =
============================================= */
.service-section {
    @include sectionPadding();
    // background-color: #edf4fd;

    ul.tab-links {
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
        }

        li a {
            display: block;
            padding: 40px 40px;
            position: relative;
            font-size: 20px;
            font-weight: 500;
            color: #536d87;
            text-decoration: none;
            cursor: pointer;
        }

        li.active a {
            color: $success;
        }

        li.active a:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: $success;
            content: "";
        }
    }

    .tab-links {
        // margin: 0 0 80px;
        margin: 80px auto;
        width: 100%;
        background-color: #fff;
        text-align: center;
        box-shadow: 0px 10px 35px 0px rgba(1, 68, 137, 0.1);
        position: relative;
        border-radius: 5px;
        z-index: 99;
    }

    .tab-content {
        .custom-tab {
            display: none;
        }

        .custom-tab.active {
            display: block;
        }

        h2 {
            font-size: 30px;
            color: #293c50;
            font-weight: 700;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            line-height: 29px;
            margin-bottom: 50px;
        }

        ul {
            padding-left: 1rem;

            li {
                font-size: 16px;
                line-height: 45px;
                color: #61758a;
                position: relative;
                padding-left: 20px;
            }
        }
    }
}





/*=============================================
=            contact-section            =
=============================================*/
.contact-section {
    iframe {
        position: relative;
        width: 1000%;
        max-width: 100%;
    }

    .contact-info {
        margin-top: 1.5rem;

        li {
            span {
                display: block;
                font-size: 1rem;
                font-weight: 600;
            }

            font-size: 0.875rem;
            line-break: strict;
            margin-bottom: 2rem;
        }
    }

    .contact-form-wrapp {
        background: var(--theme-color);
        filter: saturate(1);
        color: var(--text);
        position: relative;
        border-radius: 8px;
        padding: 3rem 2rem;
        margin-top: -15rem;
        @include shadow;
    }
}

/* =============================================
=            testi-section         =
============================================= */
.testi-section {
    @include sectionPadding();

    .owl-stage-outer {
        margin: 0.8rem;
    }

    @media (min-width:800px) {
        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110%;
            margin: 0 auto;
            outline: none;
            z-index: -1;

            span {
                color: color(link);
                font-size: 2rem;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
                outline: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }


    .testi-item {
        padding: 25px;
        transition: 0.3s;
        text-align: center;
        border-radius: 5px;
        background: #edf4fd;

        i {
            font-size: 2rem;
            font-weight: 700;
            color: color(link);
            opacity: 0.5;
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin: auto;
            margin-bottom: 2rem;
        }

        p {
            font-size: 0.875rem;
            letter-spacing: 0.02rem;
        }

        h4 {
            font-size: 1rem;
            font-weight: 600;
        }

        span {
            opacity: 0.5;
        }
    }
}

/* =============================================
=            call-section        =
============================================= */
.call-section {
    padding: 4rem 0;

    .call-section-bg {
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(21deg, #17b1f4 0%, #3fc2f2 100%);

        .call-section-content {
            color: #fff;

            & h1 {
                font-size: 2rem;
                font-weight: 600;
            }

            & p {
                opacity: 0.8;
                font-size: 500;
            }
        }
    }
}


/*=============================================
=            home-footer            =
=============================================*/
.home-footer {
    background: #222222;

    .footer-widget {
        h3 {
            color: #fff;
            margin-bottom: 2rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.12rem;
            font-weight: 600;
            font-family: $font;
        }

        ul li {
            padding: 0.5rem 0;
            @include easeIn(0.5s);

            a {
                font-size: 1rem;
                color: #fff;
                opacity: 0.8;
            }

            &:hover {
                transform: translateX(10px);
            }

            &:hover a {
                opacity: 1;

            }
        }
    }

    hr.break {
        background: #fff;
        opacity: 0.5;
    }

    p {
        opacity: 0.5;
        font-size: 0.875rem;
    }
}